/* CSS Document */

body{
	background-color: #6b6f30;
}

ul li {
	display: inline;
	margin-left: 50px;
	display:contents;
	
}
		
a {
	padding: 40px 20px;
	text-decoration: none;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 20px;
	color:black
}

h1{	text-transfrom: uppercase;
		text-align: center;
		background-color:blue;
		color: darkred;
		font-family: arial;
	}

div{
	background-color:white;
}

p {background-color blue}

h2
{text-decoration: none;font-width: font-family:250 font size 40px}
	

		
